/* #root {

} */

.container{
  display: grid;
  gap: 5px;
  height: 100vh;
  grid-template-rows: 0.2fr 0.6fr 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.heading-image{
  width: 85vw;
}

.heading{
  display: flex;
  padding-left: 1.5vw;
  padding-top: 3vh;
  grid-row-start: 1;
  grid-column: span 2;
  justify-content: center;
  align-items: flex-start;
}

.button-img{
  width: 30vw;
}

.nav-button{
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.nav-buttons{
  display: flex;
  flex-direction: column;
  gap: 2vw;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column: span 2;
  align-items: center;
  justify-content: flex-start;
  padding-top: 1vh;
}