/* #root {

} */
.non-mobile{
  display: none;
}
.container{
  background-image: url("/assets/SVGs/mobile/general/main-container-mobile-general.svg");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  display: grid;
  gap: 5px;
  height: 100vh;
  grid-template-rows: 0.25fr 0.5fr 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.heading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/SVGs/mobile/general/heading-container-mobile-general.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  grid-row-start: 1;
  grid-column: span 2;
  margin-top: clamp(4%, 4vh, 8%);
  min-height: clamp(3rem, 11vh, 5rem);
}

.heading{
  font-size: clamp(0.5rem, 5vw, 5rem);
}

.nav-button{
  padding: 0;
  font-family: inherit;
  font-size: 3.5vw;
  /* font-size: clamp(0.8rem, 1.2vw, 2rem); */
  color: inherit;
  border-radius: 2%;
  /* background-color: transparent; */
  /* background-image: url("/public/assets/SVGs/mobile/small/nav-button-small.svg"); */
  background-color: rgba(70, 130, 180, .2);
  /* background-repeat: no-repeat;
  background-position: center center; */
  border: none;
  cursor: pointer;
  height: clamp(5vh, 6vh, 15vh);
  width: 100%;
}

.nav-buttons-container{
  background-color: transparent;
  border: solid rgba(0, 125, 209, 0.8) 0.2vh;
  border-radius: 2%;
  
  max-width: 70vw;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  flex-direction: column;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column: span 2;
  align-items: center;
  justify-content: center;

}

.content-container{
  border: solid rgba(0, 125, 209, 0.8) 0.2vh;
  border-radius: 2%;
  grid-column: span 2;

  max-width: 70vw;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  max-height: 50vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
@media (min-width: 445px){
  .container{
    display: none;
  }
}
 */

@media (min-width: 390px){
  .nav-buttons-container{
    max-width: 80vw;
  }
  .content-container{
    max-width: 80vw;
  }
}

@media (min-height: 844px){
  .content-container{
    max-height: 48vh;
  }
}

@media (min-height: 915px){
  .content-container{
    max-height: 45vh;
  }
}

@media (min-width: 768px) and (orientation: portrait){
  .container{
    background-image: url("/assets/SVGs/tablet/portrait/main-container-tablet-portrait.svg");
  }
  .heading-container{
    background-image: url("/assets/SVGs/tablet/portrait/heading-container-tablet-portrait.svg");
    margin-top: 3vh;
    min-height: 15vh;
  }
  .heading{
    padding-top: 1.5vh;
  }
  .nav-buttons-container{
    max-width: 80vw;
  }
  .nav-button{
    font-size: 1.2rem;
  }
  .content-container{
    max-width: 80vw;
    height: clamp(46vh, 47vh, 49vh);
  }
}

@media (min-width: 768px) and (orientation: landscape){
  .container{
    background-image: url("/assets/SVGs/tablet/landscape/main-container-tablet-landscape.svg");
    grid-template-rows: 0.4fr 0.1fr 1fr;
  }
  .heading-container{
    background-image: url("/assets/SVGs/tablet/landscape/heading-container-tablet-landscape.svg");
    margin-top: 2%
  }
  .nav-buttons-container{
    flex-direction: row;
  }
  .nav-button{
    font-size: 1rem;
    height: 5vh;
  }
  .heading{
    padding-top: 2%;
    font-size: 5vh;
  }
}

@media (min-width: 1280px)  {
  .container{
    background-image: url("/assets/SVGs/desktop/small/main-container-desktop-small.svg");
    grid-template-rows: 0.3fr 0.1fr 1fr;
  }
  .heading-container{
    background-image: url("/assets/SVGs/desktop/small/heading-container-desktop-small.svg");
    margin-left: 5%;
    margin-right: 5%;
  }
  .nav-buttons-container{
    max-width: 70vw;
  }
  .content-container{
    max-width: 70vw;
    max-height: 50vh;
  }
}

/* Specific case - XP Pen drawing tablet and potentially other tablets.*/
/* @media (min-width: 1280px) and (min-height: 600px)  {
  .heading-container{
    margin: 0;
    margin-top: 1%;
  }
  .nav-buttons-container{
    max-width: 50vw;
  }
  .content-container{
    max-width: 50vw;
    max-height: 60vh;
  }
  .heading{
    padding-top: 1%;
  }
} */

@media (min-width: 1745px){
  .container{
    grid-template-rows: 0.4fr 0.1fr 1fr;
  }
  .heading-container{
    margin-top: 1.5%;
    margin-bottom: 1%;
  }
  .nav-buttons-container{
    max-width: 75vw;
  }
  .nav-button{
    font-size: 1.3rem;
  }
  .content-container{
    max-width: 75vw;;
  }
  .heading{
    padding-top: 1%;
    font-size: 4rem;  
  }
}

@media (min-width: 2560px){
  .nav-button{
    font-size: 1.7rem;
  }
}

@media (min-width: 3440px){
  .container{
    grid-template-rows: 0.4fr 0.1fr 1fr;
  }
  .heading-container{
    margin-top: 1.5%;
    margin-bottom: 1%;
  }
  .nav-buttons-container{
    max-width: 65vw;
  }
  .nav-button{
    font-size: 2.3rem;
  }
  .content-container{
    max-width: 65vw;;
  }
  .heading{
    padding-top: 1%;
    font-size: 5rem;  
  }
}








