/* #root {

} */

.container{
  /* border: solid rgba(0, 125, 209, 0.8) 0.3vh;
  border-radius: 3%; */

  background-color: rgba(0, 125, 209, 0.1);
  border: solid rgba(0, 125, 209, 0.2) 0.1vh;;
  border-radius: 2%;
  padding: 1%;
  display: grid;
  gap: 5px;
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  grid-template-rows: 0.1fr 0.5fr 1fr 0.1fr;
  grid-template-columns: repeat(2, 1fr);

  box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.5);
}

.heading-container{
  /* border: solid rgba(0, 125, 209, 0.8) 0.2vh;
  border-radius: 2%; */
    
  background-color: rgba(0,0,0, 0.1);
  border: solid rgba(0, 0, 0, 0.25) 0.1rem;
  border-radius: 2%;
  padding: 1%;
  
  width: 100%;
  max-width: 70vw;

  margin: 0 auto;
  margin-top: 5%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  grid-row-start: 1;
  grid-column: span 2;

  min-height: 0;
  height: 8vh;

  box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.5);
}

.heading{
  font-size: clamp(1.5rem, 6.9vw, 3.5rem);
}

.nav-button{
  padding: 0;

  font-family: inherit;
  font-size: clamp(0.8203125rem, 3vw, 1.5rem);
  
  color: inherit;
  border-radius: 2%;
  border: none;
  cursor: pointer;
  height: clamp(5vh, 6vh, 15vh);
  width: 100%;
  background: linear-gradient(rgba(0, 56, 140, 0.5), rgba(0, 0, 0, 0.5));
  outline: solid 1px rgba(0, 0, 0, 0.5);

}

.nav-button:hover {
  background: linear-gradient(rgb(65, 139, 252), rgba(0, 0, 0, 0.5));
}

.nav-button.nav-button:click {
  background: linear-gradient(rgb(65, 139, 252), rgba(0, 0, 0, 0.5));
}

.nav-buttons-container{

  /* border: solid rgba(0, 125, 209, 0.8) 0.2vh;
  border-radius: 2%; */

  background-color: rgba(0,0,0, 0.1);
  border: solid rgba(0, 0, 0, 0.25) 0.1rem;
  border-radius: 2%;
  padding: 1%;
  
  max-width: 70vw;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  
  display: flex;
  gap: 0.2rem;
  justify-content: center;
  flex-direction: column;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column: span 2;
  align-items: center;
  justify-content: center;
  box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.5);
}

.content-container{
  /* border: solid rgba(0, 125, 209, 0.8) 0.2vh; */
  /* border-radius: 2%; */
  grid-column: span 2;
    
  background-color: rgba(0,0,0, 0.1);
  border: solid rgba(0, 0, 0, 0.25) 0.1rem;
  border-radius: 2%;
  padding: 1%;

  max-width: 70vw;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  /* 55vh => 22.928125rem */
  height: 55vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  box-shadow: 0vw 0vw 1vw rgba(0, 0, 0, 0.5);
}

.footer{
  font-size: clamp(0.7rem, 2vw, 1.2rem);
  margin: 1% auto;
  grid-column: span 2;
}

@media (min-height: 740px){
  .content-container{
    height: 56vh;
  }
}

@media (min-height: 844px){
  .content-container{
    height: 57vh;
  }
}

@media (min-height: 1000px){
  .content-container{
    height: 56vh;
  }
}
@media (min-width: 960px){
  .heading-container{
    margin-top: 3%;
  }
}

@media (min-width: 1020px){
  .container{
    grid-template-rows: 0.1fr 0.1fr 1fr 0.1fr;
    gap: 10px;
  }
  .heading-container{
    height: 12vh;
    margin-top: 2%;
  }

  /* .nav-button{
    font-size: 1.5vw;
  } */
  .nav-buttons-container{
    flex-direction: row;
  }
  .content-container{
    height: 65vh;
  }
}

@media (min-width: 2560px){
  .content-container{
    height: 68vh;
  }
  .nav-button{
    font-size: 2rem;
  }

  .heading{
    font-size: 5rem;
  }
}

@media (min-width: 3840px){
  .heading{
    font-size: 7rem;
  }
  .nav-button{
    font-size: 3.3rem;
  }
  .footer{
    font-size: 2.4rem;
  }
}

/* Ultrawide monitor */
@media (min-width: 3440px) and (max-width: 3440px) and
       (min-height: 1440px) and (max-height: 1440px){

  .heading{
    font-size: 7rem;
  }
  .nav-button{
    font-size: 2.9rem;
  }
  .footer{
    margin: 0 auto;
    font-size: 2rem;
  }
}


/* @media (min-width: 768px) and (orientation: landscape){
  .container{
    
    grid-template-rows: 0.4fr 0.1fr 1fr;
  }
  .heading-container{
    background-image: url("/assets/SVGs/tablet/landscape/heading-container-tablet-landscape.svg");
    margin-top: 2%
  }
  .nav-buttons-container{
    flex-direction: row;
  }
  .nav-button{
    font-size: 1rem;
    height: 5vh;
  }
  .heading{
    padding-top: 2%;
    font-size: 5vh;
  }
} */
/* 
@media (min-width: 445px){
  .container{
    display: none;
  }
}
 */

/* @media (min-width: 390px){
  .nav-buttons-container{
    max-width: 80vw;
  }
  .content-container{
    max-width: 80vw;
  }
} */

/* @media (min-height: 844px){
  .content-container{
    max-height: 48vh;
  }
} */

/* @media (min-height: 915px){
  .content-container{
    max-height: 45vh;
  }
} */

/* @media (min-width: 768px) and (orientation: portrait){

  .heading-container{
    background-image: url("/assets/SVGs/tablet/portrait/heading-container-tablet-portrait.svg");
    margin-top: 3vh;
    min-height: 15vh;
  }
  .heading{
    padding-top: 1.5vh;
  }
  .nav-buttons-container{
    max-width: 80vw;
  }
  .nav-button{
    font-size: 1.2rem;
  }
  .content-container{
    max-width: 80vw;
    height: clamp(46vh, 47vh, 49vh);
  }
} */

/* @media (min-width: 768px) and (orientation: landscape){
  .container{
    
    grid-template-rows: 0.4fr 0.1fr 1fr;
  }
  .heading-container{
    background-image: url("/assets/SVGs/tablet/landscape/heading-container-tablet-landscape.svg");
    margin-top: 2%
  }
  .nav-buttons-container{
    flex-direction: row;
  }
  .nav-button{
    font-size: 1rem;
    height: 5vh;
  }
  .heading{
    padding-top: 2%;
    font-size: 5vh;
  }
} */

/* @media (min-width: 1280px)  {
  .container{
    grid-template-rows: 0.3fr 0.1fr 1fr;
  }
  .heading-container{
    background-image: url("/assets/SVGs/desktop/small/heading-container-desktop-small.svg");
    margin-left: 5%;
    margin-right: 5%;
  }
  .nav-buttons-container{
    max-width: 70vw;
  }
  .content-container{
    max-width: 70vw;
    max-height: 50vh;
  }
} */

/* Specific case - XP Pen drawing tablet and potentially other tablets.*/
/* @media (min-width: 1280px) and (min-height: 600px)  {
  .heading-container{
    margin: 0;
    margin-top: 1%;
  }
  .nav-buttons-container{
    max-width: 50vw;
  }
  .content-container{
    max-width: 50vw;
    max-height: 60vh;
  }
  .heading{
    padding-top: 1%;
  }
} */

/* @media (min-width: 1745px){
  .container{
    grid-template-rows: 0.4fr 0.1fr 1fr;
  }
  .heading-container{
    margin-top: 1.5%;
    margin-bottom: 1%;
  }
  .nav-buttons-container{
    max-width: 75vw;
  }
  .nav-button{
    font-size: 1.3rem;
  }
  .content-container{
    max-width: 75vw;;
  }
  .heading{
    padding-top: 1%;
    font-size: 4rem;  
  }
} */

/* @media (min-width: 2560px){
  .nav-button{
    font-size: 1.7rem;
  }
} */

/* @media (min-width: 3440px){
  .container{
    grid-template-rows: 0.4fr 0.1fr 1fr;
  }
  .heading-container{
    margin-top: 1.5%;
    margin-bottom: 1%;
  }
  .nav-buttons-container{
    max-width: 65vw;
  }
  .nav-button{
    font-size: 2.3rem;
  }
  .content-container{
    max-width: 65vw;;
  }
  .heading{
    padding-top: 1%;
    font-size: 5rem;  
  }
} */








