.contact-container{
  width: 55vw;
  height: 35vh;
}
.contact-container h1{
  text-align: center;
  font-size: 1.5rem;
}
.contact-container p{
  text-align: center;
  font-size: 0.9rem;
}
.contact-container h2{
  text-align: center;
  font-size: 1rem;
}

@media (min-width: 768px) and (orientation: portrait){
  .contact-container h1{
    font-size: 2rem;
    padding-top: 4rem;
  }
  .contact-container p{
    font-size: 1.2rem;
  }
  .contact-container h2{
    text-align: center;
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) and (orientation: landscape){
  .contact-container h1{
    font-size: 2rem;
    padding-top: 1rem;
  }
  .contact-container p{
    font-size: 1.2rem;
  }
  .contact-container h2{
    text-align: center;
    font-size: 1.5rem;
  }
}

@media (min-width: 2560px){
  .contact-container h1{
    font-size: 3rem;
    padding-top: 1rem;
  }
  .contact-container p{
    font-size: 2.2rem;
  }
  .contact-container h2{
    text-align: center;
    font-size: 2.5rem;
  }
}

@media (min-width: 3440px){
  .contact-container h1{
    font-size: 4rem;
    padding-top: 1rem;
  }
  .contact-container p{
    font-size: 3.2rem;
  }
  .contact-container h2{
    text-align: center;
    font-size: 3.5rem;
  }
}