.experience-container{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 40vh;
}

.job h1 {
  font-size: 0.8rem;
}

.job h2 {
  font-size: 0.7rem
}

.job p{
  font-size: 0.6rem;
  white-space: pre-line;
}

@media (min-width: 768px) and (orientation: portrait){
  .job h1 {
    font-size: 1.5rem;
  }

  .job h2 {
    font-size: 1.5rem
  }

  .job p{
    font-size: 0.8rem;
    white-space: pre-line;
  }
}

@media (min-width: 768px) and (orientation: landscape){
  .job h1 {
    font-size: 1.3rem;
  }

  .job h2 {
    font-size: 1.2rem
  }

  .job p{
    font-size: 0.9rem;
    white-space: pre-line;
  }
}