.experience-container{
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 50vh;
  background-color: rgba(0,0,0, 0.1);
  border: solid rgba(0, 0, 0, 0.1) 0.1rem;
  border-radius: 2%;
  padding: 5%;
}

.job h1 {
  font-size: 0.8rem;
}

.job h2 {
  font-size: 0.7rem
}

.job p{
  font-size: 0.6rem;
  white-space: pre-line;
}