:root {
  /* Fonts */
  --font-family-base: 'Orbitron', sans-serif;
  --font-optical-sizing: auto;
  --font-style-base: normal;
  --line-height-base: 1.6;
  --font-weight-normal: 400;
  --background-color: #0f2354;
  --background-image: url("/assets/SVGs/main-container.svg");

  /* Colors */
  --color-text: white;
}

/* Creates a reset. Uses universal selector to set border box, because it allows us
to use padding, and borders and stuff without havbing to add to the width of an element.*/
* {
  box-sizing: border-box;
}


body {
  font-family: var(--font-family-base);
  font-optical-sizing: var(--font-optical-sizing);
  font-style: var(--font-style-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-normal);
  background-color: var(--background-color);
  color: var(--color-text);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}