.projects-collection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-carousel{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.category-carousel-window{
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.category-carousel-track{
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.project-category{
  flex: 0 0 100%;
  height: 100%;
  width: 100%;
  border-radius: 2%;
  font-size: 1rem;
  text-align: center;
}

.category-carousel-nav img {
  width: 0.6rem;
  height: 0.6rem;
  display: block;
}
.cat-left{
  position: absolute;
  right: 90%;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.cat-right{
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}
/* margin/padding: top, right, bottom, left */
.carousel{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.carousel-window{
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.carousel-track{
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  background-color: rgba(70, 130, 180, 0.2);
  height: 40vh;
  width: 12vw;
  border-radius: 2%;
  overflow: scroll;
}

.project-card{
  display: flex;
  flex-direction: column;
}

.project-title{
  padding-top: 5%;
  color: #fff;
  text-align: center;
  font-size: clamp(0.9rem, 2vw, 3.5vw);
  animation: glow 1s ease-in-out infinite alternate;
}

/* .image-container{
  width: 100%;
  height: 35vh;
  overflow: hidden;
  position: relative;
} */

.project-photo{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.carousel-nav img {
  width: 2rem;
  height: 2rem;
  display: block;
}

.left{
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  background: transparent;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
}

.right{
  position: absolute;
  top: 45%;
  right: -0.1%;
  transform: translateY(-50%);
  transform: translateX(50%);
  background: transparent;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 1;
}

.project-description{
  font-size: 0.7rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 
                 0 0 10px #fff, 
                 0 0 15px #0ff, 
                 0 0 20px #0ff, 
                 0 0 25px #0ff, 
                 0 0 30px #0ff, 
                 0 0 35px #0ff;
  }
  to {
    text-shadow: 0 0 2px #fff, 
                 0 0 4px #0ff, 
                 0 0 6px #0ff, 
                 0 0 8px #0ff;
  }
}

@media (min-height: 915px){
  .slide{
    max-height: 35vh;
  }
}
@media (min-width: 768px){
  .category-carousel-nav img {
    width: 1.4rem;
    height: 2rem;
  }
  .slide {
    flex: 0 0 100%;
    background-color: rgba(70, 130, 180, 0.2);
    height: 35vh;
    width: 18vw;
  }
  .project-title{
    font-size: 1.7rem;
  }
  .carousel-nav img {
    width: 2.5rem;
    height: 3rem;
  }
  .project-category{
    font-size: 1.6rem;
  }
  .project-description{
    font-size: 1rem;
  }
}